<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player List</title>
</head>
<body>
    <h1>Player List</h1>
    <form method="GET" action="{% url 'searchbyTeam' %}">
        <label for="squad">Enter Team name:</label>
        <input type="text" id="squad" name="squad" value="{{ squad }}"required>
        <button type="submit">Search</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>Nation</th>
                <th>Position</th>
                <th>Squad</th>
                <th>Age</th>
                <th>Birth Year</th>
                <th>Fulltime Played</th>
                <th>Goals</th>
                <th>Shots</th>
                <th>SOT</th>
                <th>SOT %</th>
                <th>Shots/90</th>
                <th>Shots/Game</th>
                <th>Goals/Game</th>
                <th>Goal/Shot</th>
                <th>Shot Distance</th>
                <th>xG</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.player }}</td>
                <td>{{ post.nation }}</td>
                <td>{{ post.position }}</td>
                <td>{{ post.squad }}</td>
                <td>{{ post.age }}</td>
                <td>{{ post.birth_year }}</td>
                <td>{{ post.fulltimeplayed }}</td>
                <td>{{ post.goals }}</td>
                <td>{{ post.shots }}</td>
                <td>{{ post.sot }}</td>
                <td>{{ post.sotpercent }}</td>
                <td>{{ post.shotspernintey }}</td>
                <td>{{ post.sotpernintey }}</td>
                <td>{{ post.goalspershot }}</td>
                <td>{{ post.goalspersot }}</td>
                <td>{{ post.shotdistance }}</td>
                <td>{{ post.xg }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
